.title-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 25px;
<<<<<<< HEAD
  // background-color: rgb(212, 255, 255);
  background-color: white;
  opacity: 0.6;
=======
  background-color: rgba(212, 255, 255, 0.4);
>>>>>>> feat/letsee
}

.menu-container {
  display: flex;
  align-self: flex-end;
}

<<<<<<< HEAD
.menu-item {
  padding: 1em;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(126, 126, 126);
}

=======
>>>>>>> feat/letsee
button {
  font-size: 1.2em;
}

span {
  font-size: 0.8em;
}

.btn-primary {
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}
