@import './variables';


.title-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 25px;
  background-color: white;
  opacity: 0.6;
  align-items: center;
}

.title-container:hover {
  opacity: 0.8;
}
.title-container h1 {
  font-size: 6rem;
  font-weight: 600;
}
.menu-container {
  display: flex;
  // align-self: flex-end;
  // background-color: lime;
}

.app-title {
  text-decoration: none;
  color: $color-title;
}

.menu-item {
  padding: 1em;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: $color-title;
}

button {
  font-size: 1.2em;
}

span {
  font-size: 0.8em;
}

.btn-primary {
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}
