
  <div class="user-area-container">
    <app-user-register class="user-register"></app-user-register>
      <div class="dog">
        <div class="head">
          <div class="nose"></div>
          <div class="ear"></div>
        </div>
        <div class="body">
          <div class="paw"></div>
          <div class="tail"></div>
        </div>
        <div class="bone">
          <div class="left"></div>
          <div class="right"></div>
        </div>
      </div>;
    <app-user-login class="user-login"></app-user-login>
  </div>


<div class="background"></div>
