.app-login-container {
  display: flex;
  // align-items: center;
  opacity: 0.7;
  padding-left: 3em;
  border-left: solid;
  justify-content: center;
  // background-color: coral;
}

.app-user-login {
  // background-color: coral;
}

.log-out-button {
  margin-top: 1em;
  float: right;
  font-size: 0.7em;
}

.user-messages-container {
  position: absolute;
  padding-right: 1.3em;
  z-index: 5;
  background-color: black;
  opacity: 1;
  color: white;
}
