<div class="container">
  <div class="selected-pet">
    <div class="login">
      <p>Not a member? Join us!</p>
      <input type="text" name="username" value="">
      <input type="text" name="email" value="">
      <input type="text" name="password" value="">
      <input type="text" name="location" value="">
      <p>Sign in</p>
      <input type="text" name="username-log" value="">
      <input type="text" name="password-log" value="">
      <button type="button" name="button" (click)='getPet()'></button>
    </div>
  </div>
</div>
