<div class="container">
  <h1>Pet Info</h1>
  <form (ngSubmit)="addPet()" #newPet="ngForm" class='pet-form'>
    <div class="form-group">

    </div>
    <div class="form-group">
      <label for="breed"> Breed:
          <input type="text" class="form-control" id="breed" [(ngModel)]="pet.breed" name="breed" required />
      </label>
    </div>
    <div class="form-group">
      <label for="name"> Name:
        <input type="text" class="form-control" id="name" [(ngModel)]="pet.name" name="name" required />
      </label>
    </div>
    <div class="form-group">
      <label for="age"> Age:
        <input type="number" class="form-control" id="age" [(ngModel)]="pet.age" name="age" required />
      </label>
    </div>
    <div class="form-group">
      <label for="weight"> Weight:
        <input type="number" class="form-control" id="weight" [(ngModel)]="pet.weight" name="weight" required />
      </label>
    </div>
    <div class="form-group">
      <label for="size"> Size:
        <select class="form-control" id="size" [(ngModel)]="pet.size" name="size" required>
          <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label for="location"> Location:
        <input type="text" class="form-control" id="location" [(ngModel)]="pet.location" name="location" required />
      </label>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!newPet.form.valid" >Add Pet</button>
  </form>
</div>
