<div *ngIf="org" class='container'>

  <div *ngIf="org" class="details">
    <div class="org">
      <div class="org-title">
        <h2>{{ org.name | uppercase }}</h2>
      </div>
      <div class = 'org-info'>
        <h3>
          Location: {{org.location}}
        </h3>
        <h3>
          Website: {{org.web}}
        </h3>
        <h3>
          E-mail: {{org.email}}
        </h3>
      </div>
    </div>

    <!-- <button (click)="goBack()">Atras</button> -->

    <div *ngFor="let query of org.queries">
      <!-- <div *ngIf="query.user">
        <div class="notifications-container">
          <alert type="success">
            <p>{{query.user.name}} quiere adoptar a {{query.pet.name}}</p>
            <p (click)="acceptAdoption(query._id, query.pet._id, query.user._id)" >✅</p>
            <p (click)="rejectAdoption(query._id, query.pet._id, query.user._id)">❎</p>
          </alert>
        </div>
      </div> -->
    </div>

      <h1>Your Pets:</h1>
      <div class="parent-pet-container">
        <div *ngFor="let pet of org.pets" class = 'pet-container'>
          <div class="child-pet-container-title">
            <h4>{{pet.name}}</h4>
          </div>
          <div class="child-pet-container-info">
            <h5>Age: {{pet.age}} years</h5>
            <h5>Weight: {{pet.weight}} kg</h5>
            <h5>Location: {{pet.location}}</h5>

          </div>

        </div>
  </div>
  <button routerLink="/orgs/{{org._id}}/pets" class = 'add-pet'>Add Pet</button>
  </div>
</div>
<div class="fondo">

</div>
