.container {
  display: flex;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.details {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  margin-top: 15px;
}
.org {
  border-radius: 15px 15px 15px 15px;
  height: auto;
  width: 90vw;
  margin-left: 3%;
  margin-bottom: 20px;
  // border: ss
}
.org-title {
  height: 50px;
  border-radius: 15px 15px 0px 0px;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  border-width: thin;
}

.org-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.org-info h3 {
  // font-size: 2em;
  font-family: "Lato";
  margin-left: 10px;
  margin-top: 10px;
}

//////////////////////////////////

.parent-pet-container {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
}

.pet-container {
  border-radius: 15px 15px 15px 15px;
  min-height: 200px;
  width: 200px;
  margin-right: 15px;
  // border: solid black;
  // border-width: thin;
  background-color: white;
  margin-bottom: 1em;
}

.pet-queries {
  border-radius: 15px 15px 15px 15px;
  margin-right: 15px;
  height: auto;
  width: 200px;
  // border: solid black;
  // border-width: thin;
  background-color: white;
}

.accept-decline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
#accept-button {
  margin-right: 10px;
  color: white;
  background-color: #2ecc71;
  border-radius: 3px 3px 3px 3px;
}

#decline-button {
  margin-right: 10px;
  color: white;
  background-color: #e74c3c;
  border-radius: 3px 3px 3px 3px;
}

.child-pet-container-title {
  height: 50px;
  border-radius: 15px 15px 0px 0px;
  background-color: #f5cd79;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  border-width: thin;
}

.child-pet-query-title {
  height: 50px;
  border-radius: 15px 15px 0px 0px;
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black;
  border-width: thin;
}

.child-pet-container-title h2 {
  // font-size: 2em;
  font-family: "Ubuntu";
}

.child-pet-query-title h2 {
  // font-size: 2em;
  font-family: "Ubuntu";
}
.child-pet-container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.child-pet-query-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  height: auto;
}
.separator {
  margin-left: 8%;
}

.child-pet-container-info h4 {
  margin-left: 5px;
  // margin: 10px 0 0 10px;
  font-family: "Ubuntu";
  // font-size: 1.5em;
}

.child-pet-query-info h4 {
  margin-left: 5px;
  word-break: break-all;

  // margin: 10px 0 0 10px;
  font-family: "Ubuntu";
  // font-size: 1.5em;
}

.add-pet {
  // background: #9fc5e8;
  // background: -webkit-linear-gradient(#9fc5e8, #3d85c6);
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font: normal 700 46px/1 "Lato", sans-serif;
  text-align: center;
  font-size: 17px;
  background: linear-gradient(to left, rgb(156, 156, 156), rgb(203, 203, 203));
  color: #ffffff;
  height: 50px;
  width: 250px;
  // margin: 3% 50% 0% 40%;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 38%;
}
.add-pet:hover {
  background: rgb(156, 156, 156);
}

.fondo {
  position: fixed;
  background: linear-gradient(to top, rgb(202, 230, 235), rgb(240, 248, 249));
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -2;
}
